/* 
    Document   : main.css
    Created on : 30/08/2013, 11:36:50 AM
    Author     : Chris <chris@seufert.id.au>
    Description:
        Main CSS
*/

body {background:url(../../img/shattered.png); font-family:Helvetica, Arial, sans-serif;color:#202020; font-size: 14px;}
.listview {font-size:14px; font-weight:bold; width: 100%;}
.rowbg {background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(top,  #f9f9f9 0%, #e8e8e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f9f9f9 0%,#e8e8e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f9f9f9 0%,#e8e8e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f9f9f9 0%,#e8e8e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */}
#index {color:#888888; font-size:12px; width: 100%;}
.num {padding: 20px; color: #a3a3a3;}
#first {color:white;width:30%;float:left;height:140px;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  #second {color:white;width:30%;float:left;margin-right:5%;height:90px;margin-top:50px;
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
  background: linear-gradient(135deg,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  } 
  #third {color:white;width:30%; float:left;margin-left:5%;height:70px;margin-top:70px;
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(135deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  .position {font-size:20px;margin-top:-24px;color:#202020;}
  .posbox {text-align: center;}

  
#leaderboard {font-size:14px;}  
#leaderboard .result.row:nth-child(odd) {
   background-color:#ddd;
}

.result.row { background-color:#eee; padding:5px 0 5px 0;}
.col {float:left;  }
.result .col { min-height:20px; overflow:hidden; white-space: nowrap;}
.pos {width:50px; text-align: center; font-weight:bold;}
.teamname {width:200px;}
.dist, .avglap, .bestlap, .lastlap, .lapcount {
  width:80px; text-align:right;}
.kilometer:after {content:" km"}
.lastcol {clear:left;}

/* 3 column view */
@media only screen and (min-width: 1901px) {
  #leaderboard {font-size:13px;}
  #leaderboard .lapcount { padding-right: 5px; }
  #leaderboard .result.row {padding:0;}
  #leaderboard .result.row .col {padding-top: 5px; padding-bottom:5px;; background:#eee;}
  #leaderboard .result.row:nth-child(6n+1) .col,
  #leaderboard .result.row:nth-child(6n+3) .col,
  #leaderboard .result.row:nth-child(6n+5) .col { background:#ddd; }
  #leaderboard .result.row:nth-child(3n+2) .lastcol,
  #leaderboard .result.row:nth-child(3n+3) .lastcol {
   clear:none; display:none; }
  .dist, .avglap, .bestlap, .lastlap, .lapcount {
    width:65px; }
  .teamname {width:265px;}
  .pos {width:30px;}
}
  
/* 2 column view */
@media only screen and (min-width: 1280px) and (max-width: 1900px) {
  #leaderboard {font-size:14px;}
  #leaderboard .lapcount { padding-right: 5px; }
  #leaderboard .result.row {padding:0;}
  #leaderboard .result.row .col {padding-top: 5px; padding-bottom:5px;; background:#eee;}
  #leaderboard .result.row:nth-child(4n+1) .col { background:#ddd; }
  #leaderboard .result.row:nth-child(4n+2) .col { background:#ddd; }
  #leaderboard .result.row:nth-child(even) .lastcol {
   clear:none; display:none; }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
  #leaderboard, #stats {width:1580px;}
  #leaderboard {font-size:16px;}
  .dist, .avglap, .bestlap, .lastlap, .lapcount {
    width:85px; }
  .teamname {width:310px;}
  .pos {width:40px;}
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
  #leaderboard, #stats {width:1260px;}
  .teamname {width:180px;}
  .pos {width:40px;}
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #leaderboard, #stats {width:1000px;}
  #leaderboard {font-size:16px;}
  .dist, .avglap, .bestlap, .lastlap, .lapcount {
    width:130px; }
  .teamname {width:290px;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #leaderboard, #stats {width:720px;}
  .teamname {width:240px;}
}

/* Mobile Phone */
@media only screen and (max-width: 767px) {
  .result.row { padding:10px 5px 10px 5px;}
  #leaderboard {font-size:11px;}
  .pos {width:25px;}
  .dist {width:25px;}
  .kilometer:after {content:"k"}
  .dist, .avglap, .bestlap, .lastlap, .lapcount {
  width:35px; }
  .teamname {width:180px;}
}
/* Landscape Phone (iPhone 5) */
@media only screen and (min-width: 568px) and (max-width: 767px) {
  #leaderboard, #stats {width:540px;}
  .teamname {width:220px;}
  .dist, .avglap, .bestlap, .lastlap, .lapcount {
  width:50px; }
}

/* Landscape Phone (iPhone 4) */
@media only screen and (min-width: 480px) and (max-width: 567px) {
  #leaderboard, #stats {width:460px;}
  .dist, .avglap, .bestlap, .lastlap, .lapcount {
  width:45px; }
}

/* Portait Phone */
@media only screen and (max-width: 479px) {
  #leaderboard, #stats {width:300px;}
  .avglap, .bestlap, .lastlap {display:none;}
}